<html>
	<div>
		2factory_button:
		<a href="{{url_for('homepage')}}">Home</a>
		<a href="{{url_for('type_form')}}">Types</a>
		<a href="{{url_for('login')}}">Login</a>

	</div>
	<head>
		{% block head %}
		<title>{% block title %}{% endblock %} - OIT55</title>
		{% endblock %}
	</head>
	<body>
		<hr>
			{% with messages = get_flashed_messages() %}
			<ul>
				{% for message in messages %}
					<li> {{ message }} </li>
				{% endfor %}
			</ul>
			{% endwith %}
		</hr>
		{% block content %}

		{% endblock %}
	</body>
</html>