{% extends "base.html" %}
{% block title %}{{ title }}-page{% endblock %}
{% block head %}
	{{ super() }}
	<style>
	</style>
{% endblock %}
{% block body %}
<h1>Hello, mthfck{{ user.username }}!</h1>
{% endblock %}